<div class="mx-10 "> 

    <div class=" caledea mx-10 text-gray-800 text-3xl font-bold"> Please choose your <a class="caledea font-bold gradient-color text-transparent bg-clip-text text-3xl"> Language:</a></div>
    <div class="  my-2 mx-10 text-gray-500 text-xl font-normal">  Select Japanese, English, or French, and let the language lab be your gateway to a world of words.</div>
    

    <div class="mt-10 w-full h-full flex">
      <!-- Column 1 -->
      <div class="flex-1 mx-2">
        <div class="w-full h-full gradient-color rounded-xl flex items-center justify-center">
           <a href="student/practice"> 
              <button class="text-white text-xl py-44 font-bold">
                  <i class="fa-solid fa-headset text-8xl mb-4"></i>
                  <p> Listening</p>
              </button>
           </a> 
        </div>
    </div>
  
      <!-- Column 2 -->
      <div class="flex-1 mx-2">
        <div class="w-full h-full gradient-color rounded-xl flex items-center justify-center">
           <a href="student/practice"> 
              <button class="text-white text-xl py-44 font-bold">
                  <i class="fa-solid fa-microphone text-8xl mb-4"></i>
                  <p> Speaking </p>
              </button>
           </a> 
        </div>
    </div>
  
      <!-- Column 3 -->
      <div class="flex-1 mx-2">
        <div class="w-full h-full gradient-color rounded-xl flex items-center justify-center">
           <a href="student/practice"> 
              <button class="text-white text-xl py-44 font-bold">
                  <i class="fa-solid fa-signature text-8xl mb-4"></i>
                  <p> Writing</p>
              </button>
           </a> 
        </div>
    </div>
  
      <!-- Column 4 -->
      <div class="flex-1 mx-2">
          <div class="w-full h-full gradient-color rounded-xl flex items-center justify-center">
             <a href="student/practice"> 
                <button class="text-white text-xl py-44 font-bold">
                    <i class="fa-solid fa-book-open-reader text-8xl mb-4"></i>
                    <p> Reading</p>
                </button>
             </a> 
          </div>
      </div>
  


</div>