<div class="container w-full pb-3">
  <div>
    <p class="poppins">Quick Survey:</p>
  </div>

  <ng-container  *ngFor="let surveyItem of survey; let i = index">
    <div *ngIf="surveyItem.type == 'radio'" class="mt-2 box">
      <h2 class="poppins">{{i+1}}. {{surveyItem.question}} <span *ngIf="surveyItem.required" class="text-red-600"> *</span></h2>
      <div>
        <div class="flex" *ngFor="let option of surveyItem.options">
          <ng-container *ngIf="isNumber(option); else isObject" >
            <input type="radio" [id]="'n-' + option" [value]="option" [(ngModel)]="surveyItem.answer" name="q-{{i}}">
            <label [for]="'n-' + option" class="ml-2 poppins">{{ option }}</label>
          </ng-container>
          <ng-template #isObject>
            <input type="radio" [id]="option.id" [value]="option.value" [(ngModel)]="surveyItem.answer" name="q-{{i}}" >
            <label [for]="option.id" class="ml-2 poppins">{{ option.label }}</label>
          </ng-template>
        </div>
      </div>
    </div>

    <div *ngIf="surveyItem.type == 'text'" class="mt-2 box">
      <h2 class="poppins">{{i+1}}. {{surveyItem.question}} <span *ngIf="surveyItem.required" class="text-red-600"> *</span></h2>
      <div>
        <textarea class="border border-1-[black]" [(ngModel)]="surveyItem.answer" cols="30" rows="3" style="resize: none;"></textarea>
      </div>
    </div>
  </ng-container>
  
  <div class="justify-center text-center mt-3">
    <button (click)="submitForm()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded items-center poppins">Claim Certificate</button>
  </div>
</div>