<div class="modal-content custom-modal-content" [ngClass]="myCustomClass">
    <div class="modal-header">
      <div class="titlehead poppins-b">
        <h1>Claim Certificate</h1>
      </div>
    </div>
<div class="container w-full pb-3">
    <div>
        <p class="poppins">Quick Survey:</p>
    </div>
    <div>
        <div class="mt-2 box"><h2 class="poppins">1. How satisfied are you with the process of claiming your course certificate?</h2>
            <div>
                <div class="flex">
                    <input type="radio" id="very-satisfied" value="Very satisfied" name="satisfaction"><label for="very-satisfied" class="ml-2 poppins">Very satisfied</label>
                </div>
                <div class="flex">
                    <input type="radio" id="satisfied" value="Satisfied" name="satisfaction"><label for="satisfied" class="ml-2 poppins">Satisfied</label>
                </div>
                <div class="flex">
                    <input type="radio" id="neutral" value="Neutral" name="satisfaction"><label for="neutral" class="ml-2 poppins">Neutral</label>
                </div>
                <div class="flex">
                    <input type="radio" id="dissatisfied" value="Dissatisfied" name="satisfaction"><label for="dissatisfied poppins" class="ml-2">Dissatisfied</label>
                </div>
                <div class="flex">
                    <input type="radio" id="very-dissatisfied" value="Very dissatisfied" name="satisfaction"><label for="very-dissatisfied" class="ml-2 poppins">Very dissatisfied</label>
                </div>
            </div>
            </div>
            
        <div class="mt-2 box">
            <h2 class="poppins">2. Did you encounter any challenges or difficulties while claiming your certificate? If yes, please specify."</h2>
            <div><textarea class="border border-1-[black]" name="" id="" cols="30" rows="3" style="resize: none;"></textarea>
            </div>
        </div>
        <div class="mt-2 box">
            <h2 class="poppins">3. Would you recommend this course to others based on your experience with claiming the certificate?</h2>
            <div>
                <div class="flex">
                    <input type="radio" id="definitely-recommend" value="Definitely recommend" name="recommendation"><label for="definitely-recommend" class="ml-2 poppins">Definitely recommend</label>
                </div>
                <div class="flex">
                    <input type="radio" id="likely-recommend" value="Likely recommend" name="recommendation"><label for="likely-recommend" class="ml-2 poppins">Likely recommend</label>
                </div>
                <div class="flex">
                    <input type="radio" id="neutral" value="Neutral" name="recommendation"><label for="neutral" class="ml-2 poppins">Neutral</label>
                </div>
                <div class="flex">
                    <input type="radio" id="unlikely-recommend" value="Unlikely recommend" name="recommendation"><label for="unlikely-recommend" class="ml-2 poppins">Unlikely recommend</label>
                </div>
                <div class="flex">
                    <input type="radio" id="definitely-not-recommend" value="Definitely not recommend" name="recommendation"><label for="definitely-not-recommend" class="ml-2 poppins">Definitely not recommend</label>
                </div>
            </div>            
        </div>
        <div class="mt-2 box">
            <h2 class="poppins">4. How important was the certificate in validating your learning achievements from the course?</h2>
            <div>
                <div class="flex">
                    <input type="radio" id="very-important" value="Very important" name="importance"><label for="very-important" class="ml-2 poppins">Very important</label>
                </div>
                <div class="flex">
                    <input type="radio" id="somewhat-important" value="Somewhat important" name="importance"><label for="somewhat-important" class="ml-2 poppins">Somewhat important</label>
                </div>
                <div class="flex">
                    <input type="radio" id="not-very-important" value="Not very important" name="importance"><label for="not-very-important" class="ml-2 poppins">Not very important</label>
                </div>
                <div class="flex">
                    <input type="radio" id="not-important-at-all" value="Not important at all" name="importance"><label for="not-important-at-all" class="ml-2 poppins">Not important at all</label>
                </div>
            </div>
                     
        </div>
<div class="mt-2 box">
    <h2 class="poppins">5. On a scale of 1 to 10, how much did the availability of a course certificate influence your decision to enroll in this course?</h2>
    <div class="flex">
        <input type="radio" id="influence-1" value="1" name="influence"><label for="influence-1" class="ml-2 poppins">1 (Not at all influential)</label>
    </div>
    <div class="flex">
        <input type="radio" id="influence-2" value="2" name="influence"><label for="influence-2" class="ml-2 poppins">2</label>
    </div>
    <div class="flex">
        <input type="radio" id="influence-3" value="3" name="influence"><label for="influence-3" class="ml-2 poppins">3</label>
    </div>
    <div class="flex">
        <input type="radio" id="influence-4" value="4" name="influence"><label for="influence-4" class="ml-2 poppins">4</label>
    </div>
    <div class="flex">
        <input type="radio" id="influence-5" value="5" name="influence"><label for="influence-5" class="ml-2 poppins">5</label>
    </div>
    <div class="flex">
        <input type="radio" id="influence-6" value="6" name="influence"><label for="influence-6" class="ml-2 poppins">6</label>
    </div>
    <div class="flex">
        <input type="radio" id="influence-7" value="7" name="influence"><label for="influence-7" class="ml-2 poppins">7</label>
    </div>
    <div class="flex">
        <input type="radio" id="influence-8" value="8" name="influence"><label for="influence-8" class="ml-2 poppins">8</label>
    </div>
    <div class="flex">
        <input type="radio" id="influence-9" value="9" name="influence"><label for="influence-9" class="ml-2 poppins">9</label>
    </div>
    <div class="flex">
        <input type="radio" id="influence-10" value="10" name="influence"><label for="influence-10" class="ml-2 poppins">10 (Extremely influential)</label>
    </div>
</div>

<div class="mt-2 box">
    <h1 class="poppins">6. Any comments or suggestions you would like to share?</h1>
    <div>
        <textarea class="border border-1-[black]" name="" id="" cols="30" rows="4" style="resize: none;"></textarea>
    </div>
    </div>
    </div>
    <div class="justify-center text-center mt-3">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded items-center poppins">Request</button>
    </div>
</div>
</div>