<div class="main-container">
  <div class="row1">
    <div class="stats-container">
      <div>
        <img class="icon" src="assets/user.png" alt="" />
        <h1 class="poppins-b">{{students}}</h1>
      </div>
      <p class="poppins">Student Count</p>
      <img class="vector" src="assets/vector4.png" alt="" />
    </div>
    <div class="stats-container">
      <div>
        <img class="icon" src="assets/user.png" alt="" />
        <h1 class="poppins-b">{{teachers}}</h1>
      </div>
      <p class="poppins">Teachers Employed</p>
      <img class="vector" src="assets/vector4.png" alt="" />
    </div>
    <div class="stats-container">
      <div>
        <img class="icon" src="assets/user.png" alt="" />
        <h1 class="poppins-b">200</h1>
      </div>
      <p class="poppins">New Subsriptions</p>
      <img class="vector" src="assets/vector4.png" alt="" />
    </div>
    <div class="stats-container">
      <div>
        <img class="icon" src="assets/user.png" alt="" />
        <h1 class="poppins-b">80</h1>
      </div>
      <p class="poppins">New Enrollees</p>
      <img class="vector" src="assets/vector4.png" alt="" />
    </div>
  </div>
  <div class="row2">
    <div class="piechart"><p class="poppins-b">Language Audience</p></div>
    <div class="graph"><p class="poppins-b">Student Focus</p></div>
  </div>
  <div class="row3"><p class="poppins-b">Quick Links</p></div>
</div>
