.notification-box {
    position: absolute;
    width: 300px;
    height: auto; 
    background: linear-gradient(to right,   var(--secondary-color), var(--secondary-color));
    z-index: 1000;
    right: 0;
    margin-top: -15px;
    margin-right: 40px;
    padding-bottom: 10px;
  }
  
  .header {
    padding: 2px;
    background-color: transparent;
    color: white;
    cursor: move;
  }
  
  .truncate-text {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 50%; /* Optional, adjust according to your layout */
  }
  .certificate-text {
    position: absolute;
    top: 54%;
    left: 6px;
    font-weight: bold;
    color: black;
  }
  
  .course-name {
    position: absolute;
    top: 64.8%;
    left: 6px;
    font-weight: bold;
    color: black;
  }
  
  .teacher-signature {
    position: absolute;
    bottom: 9.2%;
    left: 19%;
  }
  
  .signature-image {
    width: 120px;
    height: 80px;
    object-fit: contain;
  }
  
  .teacher-name {
    position: absolute;
    bottom: 13%;
    left: 19%;
    font-weight: bold;
    color: black;
  }
  
  .president-signature {
    position: absolute;
    bottom: 9.2%;
    right: 10%;
  }
  
  .president-name {
    position: absolute;
    bottom: 13%;
    right: 10%;
    font-weight: bold;
    color: black;
  }
  
  .certificate-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  