
<header class="gradient-color rounded-xl text-white mt-3 mb-3.5 mx-4 px-1 py-2.5">
  <div class="lg:px-4 md:px-4 pl-2 pr-6 mx-auto flex justify-between items-center">
    <!-- Responsive Welcome Message -->
    <div class=" text-lg font-semibold whitespace-nowrap sm:inline-block">
      <span class="hidden custom1020:inline">Welcome, {{ reflectFullName() }}! 🎉</span>
      <span class="hidden md:inline-block custom1020:hidden ">Welcome ! 🎉</span>
    </div>

    <!-- Hamburger Menu Button for Mobile -->
    <div class="md:hidden">
      <button class="burger-button nav text-white font-bold py-2 px-2" (click)="toggleMenu()">
        <span class="burger-icon">&#9776;</span>
      </button>
    </div>
    
    <!-- sidenav content start  -->

    <nav  *ngIf="isMenuVisible" [@openClose] class="sidebar poppins-b sm:hidden " > 
      <header>
        <div class="image-text">
          <span class="image">
            <img src="assets/login/school.png" alt="QLab Logo" />
          </span>
    
          <div class="text logo-text overlock-b items-center">
            <span class="name">Language Lab</span>
            <span class="profession">Classroom</span>
          </div>
        </div>
    
        <i class="bx bx-chevron-right toggle"  (click)="hideSidebar()"></i>
      </header>
    
      <div class="menu-bar">
        <div class="menu">
          <ul class="menu-links">
            <li *ngFor="let itemKey of itemKeys" class="nav-link cursor-pointer select-none">
              <a (click)="navigate(displayedItems[itemKey].redirect)">
                <i class="bx {{displayedItems[itemKey].icon}} icon"></i>
                <span class="text nav-text"> {{ itemKey }}</span>
              </a>
            </li>
            <div class="linyaa"> </div>
            <hr>
             <div *ngIf="checkAccount() == '0'">
              <li class="nav-link">
                <a (click)="navigate('student/dictionary')">
                  <i class="bx bx-book-bookmark  icon"></i>
                  <span class="text nav-text">DICTIONARY</span>
                </a>
              </li>
              <li class="nav-link cursor-pointer select-none">
                <a (click)="navigate('student/texttospeech')">
                  <i class="bx bx-user-voice icon"></i>
                  <span class="text nav-text">TEXT TO SPEECH</span>
                </a>
              </li>
             </div>
             <div *ngIf="checkAccount() == '1'">
              <li class="nav-link">
                <a (click)="navigate('teacher/dictionary')">
                  <i class="bx bx-book-bookmark icon"></i>
                  <span class="text nav-text">DICTIONARY</span>
                </a>
              </li>
              <li class="nav-link cursor-pointer select-none">
                <a (click)="navigate('teacher/texttospeech')">
                  <i class="bx bx-user-voice icon"></i>
                  <span class="text nav-text">TEXT TO SPEECH</span>
                </a>
              </li>
             </div>
          </ul>
        </div>
    
        <div class="bottom-content">
          <li class="">
            <a class="report">
              <button
                (click)="openModal()"
                [ngClass]="{ 'none1': isSidebarMinimized }"
                class="h-10 mb-2 w-full font-bold poppins-b rounded-lg text-gray-500 focus:outline-none mt-2"
              >
                {{ isSidebarMinimized ? "REPORT" : "REPORT A PROBLEM" }}
              </button>
            </a>
          </li>
    
          <li class="cursor-pointer select-none">
            <a (click)="confirmBox()">
              
              <i class="bx bx-log-out icon " ></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>
        </div>
      </div>
    </nav>
    

    <!-- sidenav content end -->
    


    <div
      class="w-2/3 lg:w-1/2 md:w-1/2 flex items-center p-0.5 h-7 bg-white rounded-xl shadow-md relative"
    >
      <input
        class="appearance-none bg-transparent border-none w-full poppins ml-2 mr-3 py-1 px-2 leading-tight focus:outline-none text-black"
        type="text"
        placeholder="Search"
        aria-label="Search"
        (keyup)="handleSearchInput($event)"
        [(ngModel)] = 'search'
      />

      <button
        (click)="activateSearch()"
        class="  search-button -mr-0.5 border border-white border-solid rounded-r-md search-color w-11 h-7 flex items-center justify-center"
        >
        <img
          src="assets/search.png"
          alt="Search Icon"
          class="search-icon w-5 h-5"
        />
       
      </button>

      <div *ngIf="searchbar.trim()!=''" class="absolute rounded z-50 w-full h-auto mt-8 top-0 bg-white">
        <ul>
          <ng-container *ngFor="let route of routes" >
            <li (click)="goTo(route.link)"
              *ngIf="userType == route.for && has(route.name, searchbar)" 
            class="py-1 cursor-pointer hover:bg-slate-100 text-gray-500" ><span class="ml-4">{{route.name}}</span></li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="flex items-center notifwrap">
      

      <button class="relative search-button1 notification sm:inline-block" (click)="toggleNotificationBox()">
        <img
          src="assets/notif.png"
          alt="Notification Icon"
          class="md:mr-10 lg:mr-10 mr-2 w-3.5 h-4.5 md:w-4 md:h-5 lg:w-4 lg:h-5"
        />
        <div *ngIf="getInbox()>0" class="absolute top-[-10px] left-[10px]">
          <i class='bx bxs-circle text-red-500 text-sm'></i>
        </div>
      </button>

      <button>
      
      <img (click)="gotoProfile()" 
        src="{{ reflectProfile() }}"
        alt="Profile Logo"
        class="object-cover cursor-pointer lg:h-10 md:w-10 h-9 w-9 border border-white border-solid border-1 rounded-full"
      />
      </button>
    </div>
  </div>

  
</header>

<app-notificationbox *ngIf="showNotificationBox" [notifications]="notifications"></app-notificationbox>