<div class="h-screen"> 
   
     <div class="px-10 pb-4">
      <p class="text-lg poppins text-gray-600 font-normal"> 
     Overall Proficiency:
    </p>
   </div>


        <div class="w-full h-96 grid grid-cols-3 gap-4 px-10">
          <div class="flex items-center justify-center gradient-color w-full text-white shadow-boxz  rounded-xl">
            <p class="font-bold text-6xl text-center">85%</p> <!-- 1 -->
        </div>
        <div class="col-span-2 row-span-2 bg-transparent h-96 shadow-boxz w-full items-center justify-center flex rounded-xl">
          <p class="text-gray-700 text-lg poppins m-16 text-center"> Line Graph Digdi somekind of representation kang progress kang student over time</p> <!-- 1 -->
        </div>

          <div class="col-span-1 flex bg-transparent shadow-boxz  items-center w-full justify-center rounded-xl">
            <p class="text-gray-700 poppins text-lg m-4 text-center ">  Chart for Listening Skill Performance  </p> <!-- 4 -->
          </div>
          
        
          <div class="col-span-1 grid-cols-2 bg-transparent shadow-boxz items-center w-full justify-center rounded-xl">
            <p class="text-gray-700 text-lg poppins m-16 text-center"> Chart for Speaking Skill Performance</p>
          </div>

          <div class="col-span-1  grid-cols-2 bg-transparent shadow-boxz items-center w-full justify-center rounded-xl">
            <p class="text-gray-700 text-lg poppins m-16 text-center"> Chart for Reading Skill Performance</p>
           </div>
        
           <div class="col-span-1 grid-cols-2 bg-transparent w-full">
            <p class="text-gray-600 text-2xl poppins font-semibold text-left w-full"> Recent Assessments:</p>
           
            <div> 
            <div class="ml-0 flex mt-2 mb-4  gap-x-4  ">
                <div class="w-2/5 rounded-md gradient-color ">
                    <p class="text-white items-center text-lg text-center w-full">69%</p>
                </div>
                <div class="w-3/5 text-left">
                  <p class="text-md text-gray-800 font-normal">Proficiency Quiz</p>
              </div>
            </div>


            <div class="ml-0 my-4 gap-x-4 flex">
              <div class="w-2/5 rounded-md gradient-color ">
                  <p class="text-white items-center text-center text-lg w-full">81%</p>
              </div>
              <div class="w-3/5 text-left">
                <p class="text-md text-gray-800 font-normal">Long Quiz</p>
            </div>
          </div>


          <div class="ml-0 flex gap-x-4 ">
            <div class="w-2/5 rounded-md gradient-color r">
                <p class="text-white items-center text-lg text-center w-full">99%</p>
            </div>
            <div class="w-3/5 left">
                <p class="text-md text-gray-800 font-normal">Comprehension Quiz</p>
            </div>
        </div>


        </div>
        
        
</div>

        
       
        </div>
      </div>


     
    
     
    
      