<aside class='lg:max-w-[314px]  lg:block hidden'>
    <span class='text-sm font-semibold leading-5 font-poppins text-secondary text-start'>Active</span>
    <div class='px-5 py-6 border border-black shadow-md rounded-xl shadow-black/25'>
          
        <div class='flex flex-col gap-y-2'>
          <span class='text-[#0375AF] font-semibold text-[14px] uppercase leading-[20px]'>Teacher</span>
          <div class='flex items-center justify-between'>
            <div class='flex items-center gap-2'>
              <img class='rounded-full object-cover size-[30px]' src="assets/test.jpg" alt="">
              <h1 class='leading-[20px] text-[18px] font-bold text-black/50 '>Prof. Maceda</h1>
            </div>
            <img class='h-5' src="assets/test2.png" alt="">
          </div>
        </div>
      
        <div class='my-3 bg-gradient-to-br from-[#0375AF] to-[#6AF3BC] h-px'></div>
    
    
        <div class='flex flex-col gap-y-2'>
          <span class='text-[#0375AF] font-semibold text-[14px] uppercase leading-[20px]'>Participants</span>
          <div *ngFor="let item of participants" class='flex items-center justify-between'>
              <div class='flex items-center gap-2'>
                  <div class='bg-[#D9D9D9] rounded-full size-[30px]'></div>
                  <h1 class='leading-[20px] text-[18px] font-medium text-black/50 '>{{item}}</h1>
              </div>
              <img class='h-5' (click)="toggleMicState(item)" [src]="getMicIcon(item)" alt="">
          </div>
      </div>
  </div>
    
</aside>