<!-- materials.component.html -->
<div class="w-auto flex">
    <button
      class=" bg-white ml-4 mb-2 flex items-center poppins-b shadow-sm text-lg rounded-lg px-3 py-1.5 gradient-green-purple-blue hover:scale-105 hover:ease-out duration-300"
      (click)="navigateBack()"
    >
      Back
    </button>
  </div>
<div class="w-full bg-white p-4 rounded-md shadow-md mx-3">
    <div class="container mx-auto p-4 md:p-8">
        <div class="flex flex-col md:flex-row">
           
            <div class="md:w-2/3 md:pr-8">
                <div class="mb-6">
                    <h1 class="text-3xl md:text-4xl font-bold text-gray-800 pb-2">{{ assignmentTitle }}</h1>
                    <p class="text-gray-500" [ngClass]="{'text-red-600': overdue&&!submitted }">Due Date: {{ dueDate }}</p>
                </div>
                <hr class="my-4 border-t border-black">
                <div class="mb-6">
                    <p class="text-gray-800">Description:</p>
                    <p class="text-gray-600">{{ description }}</p>
                </div>
            
                <div class="mb-6" *ngIf="attachments[0]">
                    <p class="text-gray-800" >Attachments:</p>
                    <ul class="list-disc list-inside text-gray-600">
                        <li>
                            <a (click)="openFile(attachments[0].split('>')[0])" class="text-blue-500">{{ attachments[0].split('>')[1] }}</a>
                        </li>
                    </ul>
                </div>

                <div class="mb-6" *ngIf="teacherComment != null">
                    <p class="text-gray-800" >{{teachername}}</p>
                    <ul class="list-disc list-inside text-gray-600">
                        <li>
                            {{ teacherComment }}
                        </li>
                    </ul>
                </div>
            
                <!-- <div class="mb-6">
                    <p class="text-gray-800">Instructions:</p>
                    <ol class="list-decimal list-inside text-gray-600">
                        <li *ngFor="let instruction of instructions">{{ instruction }}</li>
                    </ol>
                </div> -->
            </div>

            
            <div class="w-full md:w-1/3 mt-4 md:mt-0">
                <div class="bg-white p-4 md:p-6 rounded-md shadow-md">
                    <h2 class="text-2xl md:text-3xl font-bold mb-4 flex align-middle justify-between text-gray-800">Submit Assignment <span *ngIf="grade!=null" class="text-lg text-green-600">{{grade}}</span></h2>

                   
                    <form>
                        <div *ngIf="!submitted" class="mb-4">
                            <label for="file" class="block text-sm font-medium text-gray-600">Upload File</label>
                            <input [readOnly]="submitted" class="hidden"  (change)="onFileSelected($event)" type="file" id="file" name="file" class="mt-1 p-2 border w-full focus:outline-none focus:border-blue-500">
                        </div>
                        <div *ngIf="submitted"  class="mb-4">
                            <label for="file" class="block text-sm font-medium text-gray-600">Uploaded File</label>
                            <div class="mt-1 p-2 border w-full focus:outline-none focus:border-blue-50 h-12">
                                <a (click)="uploaded ?  openFile( uploaded.split('>')[0]):null" class="text-blue-500">{{uploaded?  uploaded.split('>')[1]: '[No attachment]'}}</a>
                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="comment" class="block text-sm font-medium text-gray-600">Comments</label>
                            <textarea [(ngModel)]="comments" id="comment" name="comment" rows="3"
                                class="mt-1 p-2 border w-full focus:outline-none focus:border-blue-500" [readOnly]="submitted"></textarea>
                        </div>

                        <button type="submit" (click)="submit()"
                        [ngClass]="{'!bg-green-500': submitted, '!hover:bg-green-500':submitted}"
                            class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 w-full focus:outline-none focus:shadow-outline-blue">{{submitted ? 'Submitted':'Submit'}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
