<div class="container mx-auto font-roboto">
  <div class="flex justify-center py-4 lg:py-12">
    <app-modals style="max-width: 100%"></app-modals>
  </div>
</div>
<!-- <div class='w-full lg:w-3/4'> -->
<!-- <app-lab-laptop-teacher></app-lab-laptop-teacher> -->
<!-- </div> -->

<!-- <div [ngClass]="{'lg:w-1/3 hidden': childValue, 'hidden': !childValue}" *ngIf="childValue">
            <app-active-bar ></app-active-bar>
        </div>
    </div>
    <div >
        <app-lab-buttons></app-lab-buttons>
    </div> -->
