<div class="main-container">
  <button class="poppins-b">
    <img src="assets/edit.png" alt="Edit Icon" />
    <span>Edit</span>
  </button>
  <div class="course">
    <div class="image-container">
      <img src="assets/cleo.jpg" alt="" />
    </div>
    <div class="details poppins-b">
      <div class="label-container">
        <p>COURSE:</p>
        <span class="poppins">BISAYA 101</span>
      </div>
      <div class="label-container">
        <p>CODE:</p>
        <span class="poppins">6969</span>
      </div>
      <div class="label-container">
        <p>CREDITS:</p>
        <span class="poppins">3 Units</span>
      </div>
      <div class="label-container">
        <p>INSTRUCTORS:</p>
        <span class="poppins"> Mr. Franklin</span>
      </div>
      <div class="description-container">
        <p>DESCRIPTION:</p>
        <span class="poppins">
          "Embark on an enriching journey into the heart of Bisaya culture with
          our dynamic language class. Designed for both beginners and those
          seeking to enhance their proficiency, our interactive lessons focus on
          practical communication skills, cultural insights, and real-life
          scenarios. Immerse yourself in the vibrant Bisaya way of life,
          building a strong foundation in the language while gaining an
          appreciation for arts, music, and literature. From expanding your
          vocabulary to simplifying grammar, our course offers a comprehensive
          exploration of Bisaya. No prior knowledge is needed – just bring your
          enthusiasm, and let's dive into the world of Bisaya together!"
        </span>
      </div>
    </div>
  </div>
</div>
