  <div class="container m-auto border-[5px] rounded-3xl relative w-full max-w-[79vw] h-[79vh] 
    flex flex-col justify-center items-center overflow-y-auto px-4 pt-10 py-6 mt-2 overflow-x-hidden">
    <button (click)="redirectToOtherPage()" class="text-lg text-slate-600/80 absolute top-0 left-2 flex justify-center items-center p-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 512 512">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/>
      </svg>
      Back
    </button>
    <div class=" overflow-x-hidden h-full border rounded-3xl lg:p-5 md:p-2 sm:p-2 smallest:p-2">
      <app-drag1></app-drag1>
      <hr class="py-2">
      <app-drag2></app-drag2>
    </div>
  </div>


