<div class="grades-container max-w-3x px-4 py-8">
  <div class="tabs flex flex-col md:flex-row items-center mb-6">
    <button
        (click)="selectTab('quizzes')"
        [ngClass]="{
            'bg-[--secondary-color] text-white': selectedTab === 'quizzes',
            'bg-gray-200 text-gray-700': selectedTab !== 'quizzes'
        }"
        class="px-4 py-2 rounded-md transition-colors duration-300 mb-2 md:mb-0 md:mr-2"
        style="font-size: 1.2rem"
    >
        Quizzes (SpeechLab/Courses)
    </button>
    <button
        (click)="selectTab('assignments')"
        [ngClass]="{
            'bg-[--secondary-color] text-white': selectedTab === 'assignments',
            'bg-gray-200 text-gray-700': selectedTab !== 'assignments'
        }"
        class="px-4 py-2 rounded-md transition-colors duration-300 mb-2 md:mb-0 md:mr-2"
        style="font-size: 1.2rem"
    >
        Assignments
    </button>
    <button
        (click)="selectTab('attendanceHistory')"
        [ngClass]="{
            'bg-[--secondary-color] text-white': selectedTab === 'attendanceHistory',
            'bg-gray-200 text-gray-700': selectedTab !== 'attendanceHistory'
        }"
        class="px-4 py-2 rounded-md transition-colors duration-300 mb-2 md:mb-0"
        style="font-size: 1.2rem"
    >
        Attendance History
    </button>
</div>


  <div
    *ngIf="selectedTab === 'quizzes'"
    class="information-container bg-white shadow-md rounded-lg p-6"
  >
    <h2 class="text-transparent bg-clip-text gradient-color  text-2xl font-semibold mb-4">Quiz Grades</h2>
    <select
      [(ngModel)]="selectedQuiz"
      class="w-full mb-6 px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-600"
    >
      <option value="" disabled selected>Select a quiz</option>
      <option
        *ngFor="let quiz of quizGrades | keyvalue"
        [value]="quiz.value.name"
      >
        {{ quiz.value.name }}
      </option>
      <option
        *ngFor="let quiz of labGrades | keyvalue"
        [value]="quiz.value.name"
      >
        {{ quiz.value.name }}
      </option>
    </select>

    <ng-container *ngIf="quizGrades.size || labGrades.size; else asEmpty">
      <ul *ngIf="selectedQuiz" class="space-y-4">
        <ng-container *ngFor="let quiz of quizGrades | keyvalue">
          <li
            *ngIf="quiz.value.name === selectedQuiz"
            class="bg-gray-100 rounded-md p-4"
          >
            <h3 class="text-lg font-semibold text-gray-800 mb-2">
              {{ quiz.value.name }}
            </h3>
            <ul class="space-y-2">
              <li
                *ngFor="let grade of quiz.value.grades; let k = index"
                class="flex justify-between items-center"
              >
                <span>{{ k + 1 }}. {{ grade.studentName }}</span>
                <span
                  *ngIf="grade.grade != null"
                  class="bg-green-100 text-green-800 px-2 py-1 rounded-md"
                  >{{ grade.grade }}</span
                >
                <span
                  *ngIf="grade.grade == null"
                  class="bg-red-100 text-red-800 px-2 py-1 rounded-md"
                  >NOT GRADED</span
                >
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>

      <ul *ngIf="selectedQuiz" class="space-y-4">
        <ng-container *ngFor="let quiz of labGrades | keyvalue">
          <li
            *ngIf="quiz.value.name === selectedQuiz"
            class="bg-gray-100 rounded-md p-4"
          >
            <h3 class="text-lg font-semibold text-gray-800 mb-2">
              {{ quiz.value.name }}
            </h3>
            <ul class="space-y-2">
              <li
                *ngFor="let grade of quiz.value.grades; let k = index"
                class="flex justify-between items-center"
              >
                <span>{{ k + 1 }}. {{ grade.studentName }}</span>
                <span
                  *ngIf="grade.grade != null"
                  class="bg-green-100 text-green-800 px-2 py-1 rounded-md"
                  >{{ grade.grade }}</span
                >
                <span
                  *ngIf="grade.grade == null"
                  class="bg-red-100 text-red-800 px-2 py-1 rounded-md"
                  >NOT GRADED</span
                >
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </ng-container>
    <ng-template #asEmpty>
      <p class="text-gray-500">Nothing to show.</p>
    </ng-template>
  </div>

  <div
    *ngIf="selectedTab === 'assignments'"
    class="information-container bg-white shadow-md rounded-lg p-6"
  >
    <h2 class="text-transparent bg-clip-text gradient-color  text-2xl font-semibold mb-4">Assignment Grades</h2>

    <ng-container *ngIf="assignmentGrades.size; else asEmpty">
      <ul class="space-y-4">
        <ng-container
          *ngFor="let assignment of assignmentGrades | keyvalue; let j = index"
        >
          <li class="bg-gray-100 rounded-md p-4">
            <h3 class="text-lg font-semibold text-gray-800 mb-2">
              {{ assignment.value.name }}
            </h3>
            <ul class="space-y-2">
              <li
                *ngFor="let grade of assignment.value.grades; let k = index"
                class="flex justify-between items-center"
              >
                <span>{{ k + 1 }}. {{ grade.studentName }}</span>
                <span
                  *ngIf="grade.grade != null"
                  class="bg-green-100 text-green-800 px-2 py-1 rounded-md"
                  >{{ grade.grade }}</span
                >
                <span
                  *ngIf="grade.grade == null"
                  class="bg-red-100 text-red-800 px-2 py-1 rounded-md"
                  >NOT GRADED</span
                >
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </ng-container>
    <ng-template #asEmpty>
      <p class="text-gray-500">Nothing to show.</p>
    </ng-template>
  </div>

  <div
    *ngIf="selectedTab === 'attendanceHistory'"
    class="information-container bg-white shadow-md rounded-lg p-6"
  >
    <h2 class="text-transparent bg-clip-text gradient-color text-2xl font-semibold mb-4">
      Select Attendance History
    </h2>
    <select
      [(ngModel)]="selectedMeeting"
      class="w-full mb-6 px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-600"
    >
      <option value="" disabled selected>
        Select date and time of the meeting
      </option>
      <option
        *ngFor="let meeting of attendanceHistory | keyvalue"
        [value]="meeting.key"
      >
        {{ parseDateTime(meeting.key) }}
      </option>
    </select>
    <ng-container *ngIf="attendanceHistory.size; else asEmpty">
      <ul *ngIf="selectedMeeting" class="space-y-4">
        <li
          *ngFor="let student of attendanceHistory.get(selectedMeeting); let k = index"
          class="bg-gray-100 rounded-md p-4 flex justify-between items-center"
        >
          {{k+1}}. {{ student.student }}
          <span>{{ parseTime(student.time) }}</span>
        </li>
      </ul>
    </ng-container>
    <ng-template #asEmpty>
      <p class="text-gray-500">Nothing to show.</p>
    </ng-template>
  </div>

  <div *ngIf="!selectedTab" class="initial-message text-gray-500 text-center">
    <p>Choose a tab to view.</p>
</div>

</div>
