<div class="instruction poppins mx-8 mt-4 text-gray-600 text-2xl">
  Choose
  <a class="poppins-b gradient-color text-transparent bg-clip-text text-2xl">
    Study Mode:</a
  >
</div>
<div class="description poppins my-2 mx-12 text-gray-700 text-xl">
  Choose Teacher-led for expert guidance or Self-study for personalized language
  mastery. Bon voyage!
</div>

<div class="mx-10 my-4 flex justify-between items-center"></div>

<div class="flex justify-center items-start w-full h-full">
  <div class="mx-1 rounded-xl">
  <div class="mode-container">
      <a routerLink="/student/courses">
        <button class="teacherled-button gradient-color1 w-96 h-80 rounded-xl">
          <div class="mode-title text-center">
            <p class="poppins-b text-white text-2xl">TEACHER-LED</p>
          </div>
        </button>
      </a>

      <a routerLink="/student/selfstudylab"
        ><button class="studentled-button gradient-color1 w-96 h-80 rounded-xl">
          <div class="mode-title text-center">
            <p class="text-white poppins-b text-2xl">SELF-ASSESSMENT</p>
          </div>
        </button>
      </a>
    </div>
  </div>
</div>
