<body>
  <div class="main">
    <div class="wrapbox">
      <div class="top">
        <div class="imageProfile">
          <img
            src="{{ user.profile ? getURL(user.profile) : noProfile() }}"
            class="object-cover"
            alt="Profile Image"
          />
        </div>
        <div
          (click)="file_select.click()"
          class="editpic cursor-pointer transition-opacity select-none opacity-0 hover:!opacity-100"
        >
          <h1 class="poppins-b cursor-pointer">Edit</h1>
          <input
            #file_select
            class="cursor-pointer"
            type="file"
            (change)="onFileSelected($event)"
            [hidden]="true"
            id="fileInput"
          />
          <label class="cursor-pointer">
            <img
              src="assets/studentprofile/consedit.png"
              class="cursor-pointer"
              alt="Edit Icon"
            />
          </label>
        </div>
        
      </div>
      <div class="buttom justify-between pl-1">
        <!-- <div class="bio">
                    <div class="wrapflex">
                    <h1 class="poppins">{{user.firstname+ ' ' + user.lastname}}</h1>
                    <img class="h-5 w-5 mt-2 cursor-pointer" src="assets/studentprofile/consedit.png" alt="" *ngIf="showEditPic">
                </div>
                    <div class="thisrespo">
                    <div class="location">
                       <img src="assets/studentprofile/Location.png" alt="">
                        <h2 class="poppins">{{user.address}}</h2>
                    </div>
                </div>
                </div> -->
        <div class="bio mt-3">
          <div class="wrapflex">
            <div class="flex flex-col" *ngIf="editing">
              <label class="poppins text-sm">First Name</label>
              <input
                class="poppins-b mt-1.5 text-xl w-full border-2 border-blue-500 px-2 rounded overflow-x-auto lg:text-2xl text-gray-700"
                [(ngModel)]="user.firstname"
              />
            </div>
            <div class="flex flex-col" *ngIf="editing">
              <label class="poppins text-sm">Last Name</label>
              <input
                class="poppins-b ml-2 mt-1.5 text-xl w-full border-2 border-blue-500 px-2 rounded overflow-x-auto lg:text-2xl text-gray-700"
                [(ngModel)]="user.lastname"
              />
            </div>

            <h1 class="poppins-b mt-1 text-gray-700" *ngIf="!editing">
              {{ user.firstname + " " + user.lastname }}
            </h1>
            <img
              *ngIf="!editing"
              class="h-5 w-5 ml-5 mt-2 cursor-pointer"
              src="assets/studentprofile/consedit.png"
              (click)="toggleEdit()"
            />
            <div
              *ngIf="editing"
              class="h-5 w-5 ml-5 mt-4 cursor-pointer"
              (click)="toggleEdit()"
            >
              <i
                class="bx bx-save text-3xl select-none gradient-color text-transparent bg-clip-text !font-extralight"
              ></i>
            </div>



          </div>
          <div class="thisrespo">
            <div *ngIf="student" class="location">
              <img
                src="assets/studentprofile/Location.png"
                alt=""
              />
              <h2 class="poppins">{{ user.address }}</h2>
            </div>
          </div>
              
        </div>
        <!-- <div class="editwrap -mr-12 md:mr-1">
                    <button class="custom-edit-btn" (click)="toggleEditPic()">
                      <h1 class="poppins-b hidden md:inline-block">EDIT</h1> <img src="assets/studentprofile/Edit.png" alt="">
                    </button>
                  </div>
                   -->
      </div>
    </div>

    <div class="infowrap mt-4">
      <div class="personal">
        <div clas="newflex ">
          <table>
            <tr *ngIf="student">
              <td class="flex">
                <img
                  class="imageicon"
                  src="assets/studentprofile/Frame.png"
                  alt=""
                />
                <h1 class="poppins ml-2">DATE OF BIRTH:</h1>
              </td>
              <td>
                <h1 class="ml-4 poppins">{{ parseDate(user.birthdate) }}</h1>
              </td>
            </tr>
            <tr *ngIf="student">
              <td class="flex mt-2">
                <img
                  class="imageicon"
                  src="assets/studentprofile/Frame (1).png"
                  alt=""
                />
                <h1 class="poppins ml-2">SEX:</h1>
              </td>
              <td>
                <h1 class="ml-4 poppins mt-2">{{ user.gender }}</h1>
              </td>
            </tr>
            <tr *ngIf="student">
              <td class="flex mt-2">
                <img
                  class="imageicon"
                  src="assets/studentprofile/Frame (2).png"
                  alt=""
                />
                <h1 class="poppins ml-2">NATIONALITY:</h1>
              </td>
              <td>
                <h1 class="ml-4 poppins mt-2">{{ user.nationality }}</h1>
              </td>
            </tr>
            <tr *ngIf="student">
              <td class="flex mt-2">
                <img
                  class="imageicon"
                  src="assets/studentprofile/Frame (3).png"
                  alt=""
                />
                <h1 class="poppins ml-2">ADDRESS:</h1>
              </td>
              <td>
                <h1 class="ml-4 poppins mt-2">{{ user.address }}</h1>
              </td>
            </tr>
            <tr *ngIf="student">
              <td class="flex mt-2">
                <img
                  class="imageicon"
                  src="assets/studentprofile/Frame (5).png"
                  alt=""
                />
                <h1 class="poppins ml-2">EMAIL ADDRESS:</h1>
              </td>
              <td>
                <h1 class="ml-4 poppins mt-2">{{ user.email }}</h1>
              </td>
            </tr>
            <tr *ngIf="teacher">
              <td class="flex mt-2">
                <img
                  class="imageicon"
                  src="assets/studentprofile/Frame (5).png"
                  alt=""
                />
                <h1 class="poppins ml-2">EMAIL ADDRESS:</h1>
              </td>
              <td>
                <h1 class="ml-4 poppins mt-2">{{ user.email }}</h1>
              </td>
            </tr>
            <tr *ngIf="teacher || principal">
              <td class="mt-2">
                <br>
                  <!-- Upload E-Sig -->
                  <H1 class="poppins-b">E-Signature:</H1>
                  <div class="relative bg-transparent border-solid border-2 border-grey-600 sm:w-48 w-32 rounded-xl overflow-hidden">
                    <button (click)="openSignatureModal()" *ngIf="teacher || principal" class="w-full h-full cursor-pointer">
                      <img [src]="getUserSignature() || 'assets/Esig.png'" class="w-full h-full object-cover max-w-[200px] max-h-28" />
                      <span *ngIf="!imageUrl">Click to add signature</span>
                    </button>
                  </div>

<!-- Signature Modal -->
<!-- Signature Modal -->
<div *ngIf="showSignatureModal" class="modal">
  <div class="modal-content">
    <div class="flex justify-between">
      <h2>E-Signature</h2>
      <img class="h-[30px] w-[30px] -mt-[20px] cursor-pointer" (click)="closeSignatureModal()" src="assets/close.png" alt="">
    </div>
    
    <canvas #signPadCanvas width="400" height="200" style="border: 1px solid #ccc; touch-action: none;"></canvas>
    <div>
      <button class="btn btn-success" color="secondary" (click)="saveSignPad()">Save</button>
      <button class="btn btn-danger" (click)="clearSignPad()">Clear</button>
      <button class="btn btn-warning" (click)="undoSign()">Undo</button>

    </div>
    <div>
      <span style="font-family: monospace;">Write the signature and click on Save</span>
    </div>
  </div>
</div>
              </td>
            </tr>
            <tr *ngIf="admin">
              <td class="flex mt-2">
                <img
                  class="imageicon"
                  src="assets/studentprofile/Frame (5).png"
                  alt=""
                />
                <h1 class="poppins ml-2">EMAIL ADDRESS:</h1>
              </td>
              <td>
                <h1 class="ml-4 poppins mt-2">{{ user.email }}</h1>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-container flex justify-center items-center gap-3 my-4">
  
    <button
      *ngIf="teacher"
      (click)="viewGrades()"
      class="bg-transparent border-solid border-2 border-blue-500 sm:w-48 w-32 rounded-xl"
    >
      <h1 class="text-lg font-semibold text-blue-500 p-2">View Grades</h1>
    </button>

    <button
      (click)="openModalEmail()"
      class="bg-transparent border-solid border-2 border-green-500 shadow-sm sm:w-48 w-32 rounded-xl"
    >
      <h1 class="text-lg font-semibold text-green-500 p-2">Change Email</h1>
    </button>

    <button
      (click)="openModalPassword()"
      class="bg-red-500 sm:w-48 w-32 rounded-xl"
    >
      <h1 class="text-lg font-semibold text-white p-2">Change Password</h1>
    </button>
  </div>

  <!-- modal -->
  <div *ngIf="showModalEmail" [@fadeInOut] class="modal-overlayzz">
    <div class="modal-contentzz flex flex-col h-2/6 w-4/5 lg:w-1/4">
      <header
        class="px-4 py-3 lg:py-4 text-gray-700 flex justify-between items-center"
      >
        <h1 class="text-xl text-center font-semibold flex-1">Change Email</h1>
        <button
          (click)="closeModalEmail()"
          class="text-blue-500 focus:outline-none"
        >
          <i
            class="fas fa-close text-transparent gradient-color bg-clip-text"
          ></i>
        </button>
      </header>

      <div class="linya"></div>

      <main class="flex-1 overflow-y-scroll p-4">
        <div class="flex flex-col space-y-4">
          <div class="flex flex-row">
            <!-- Email Input -->
            <h1 class="poppins poppins-b mt-1 text-lg" *ngIf="!editingEmail">
              <span class="poppins mt-1 text-lg">Email: </span>{{ user.email }}
            </h1>
            <img
              *ngIf="!editingEmail"
              class="h-5 w-5 ml-5 mt-2 cursor-pointer"
              src="assets/studentprofile/consedit.png"
              (click)="toggleEditEmail()"
            />
          </div>

          <div class="flex flex-row" *ngIf="editingEmail">
            <label class="poppins mt-1 text-lg">Email:</label>
            <input
              class="poppins-b w-3/4 border border-blue-500 px-2 rounded overflow-x-auto text-lg text-gray-700"
              [(ngModel)]="user.email"
            />
          </div>

          <div class="flex justify-center">
            <button
              *ngIf="editingEmail"
              (click)="toggleEditEmail()"
              class="bg-green-500 w-48 rounded-xl"
            >
              <h1 class="text-lg font-semibold text-white p-2">Change Email</h1>
            </button>
          </div>
        </div>
      </main>

      <!-- Footer -->
    </div>
  </div>
  <!-- end modal-->

  <!-- modal -->
  <div *ngIf="showModalPassword" [@fadeInOut] class="modal-overlayzz">
    <div class="modal-contentzz flex flex-col h-2/6 w-4/5 lg:w-1/4">
      <header
        class="px-4 py-3 lg:py-4 text-gray-700 flex justify-between items-center"
      >
        <h1 class="text-xl text-center font-semibold flex-1">
          Change Password
        </h1>
        <button
          (click)="closeModalPassword()"
          class="text-blue-500 focus:outline-none"
        >
          <i
            class="fas fa-close text-transparent gradient-color bg-clip-text"
          ></i>
        </button>
      </header>

      <div class="linya"></div>

      <main class="flex-1 overflow-y-scroll p-4">
        <div class="flex flex-col space-y-4">
          <!-- Email Input -->
          <div class="flex flex-row">
            <h1 class="poppins poppins-b mt-1 text-lg" *ngIf="!editingPassword">
              <span class="poppins mt-1 text-lg">Password: </span>***********
            </h1>
            <img
              *ngIf="!editingPassword"
              class="h-5 w-5 ml-5 mt-2 cursor-pointer"
              src="assets/studentprofile/consedit.png"
              (click)="toggleEditPassword()"
            />
            <!-- Password Input -->
          </div>
          <input
            [(ngModel)]="user.password"
            *ngIf="editingPassword"
            type="password"
            placeholder="Password"
            class="py-2 px-2 border rounded-md focus:outline-none focus:border-blue-500"
          />

          <!-- Confirm Password Input -->

          <div class="flex justify-center">
            <button
              *ngIf="editingPassword"
              (click)="toggleEditPassword()"
              class="bg-green-500 w-48 rounded-xl"
            >
              <h1 class="text-lg font-semibold text-white p-2">
                Change Password
              </h1>
            </button>
          </div>
        </div>
      </main>

      <!-- Footer -->
    </div>
  </div>
  <!-- end modal-->
</body>
