/* join-modal.component.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 400px;
}


.controls {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.icons button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons img {
  max-width: 25px;
  height: auto;
}

/* Add styling for the join-now-button as needed */
.join-now-button {
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 60px;
  cursor: pointer;
  border-radius: 8px;
  width: 150px;
  margin-left: 50px;
}


/* Your CSS file */
.exit-button {
  background-color: #ff4d4d; /* Example background color for a cancel button */
  color: #fff; /* Text color */
  padding: 10px; /* Adjust padding as needed */
  border: none;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  width: 80px;
  height: 65px;
}

.exit-button:hover {
  background-color: #ff6666; /* Example background color on hover */
}




.course-image img {
max-width:300px;
height: auto;
border-radius: 8px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0172AF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0172AF;
}

input:checked + .slider:before {
  transform: translateX(15px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.glow-pulse {
  animation: glow 2s infinite alternate, pulse 1s infinite;
}


.new-task-button {
outline: none;
display: flex;
gap: 5px;
width: 210px;
justify-content: center;
align-items: center;
font-size: 20px;
background-color: #fff;
padding: 8px 10px;
border-radius: 5px;
box-shadow: 4px 4px 2px 0 rgba(0, 0, 0, 0.25);
}
.new-task-button p {
background: linear-gradient(
  to right,
  rgb(1, 114, 175) 0%,
  rgb(116, 254, 189) 100%
);
color: transparent;
background-clip: text;
}
.new-task-button:hover {
box-shadow: 6px 6px 4px 0 rgba(0, 0, 0, 0.25);
}
.hide-toggle-icon::after {
display: none !important;
}