<div class="container">
  <h2 class="title">Modules</h2>
  <div class="create-module">
    <input type="text" [(ngModel)]="newModuleName" placeholder="Enter module name" class="input">
    <button (click)="createModule()" class="btn btn-primary">Create Module</button>
  </div>
  <div class="card-container">
    <div class="card" *ngFor="let module of modules" (click)="openModal(module)">
      <h3 class="card-title">{{ module.name }}</h3>
    </div>
  </div>
</div>

<div class="modal" *ngIf="selectedModule">
  <div class="modal-content">
    <h2 class="modal-title">{{ selectedModule.name }}</h2>
    <button (click)="deleteModule(selectedModule.id)" class="btn btn-danger">Delete Module</button>
    <div class="lessons">
      <h4 class="lessons-title">Lessons</h4>
      <div class="lesson-list-container">
        <ul class="lesson-list">
          <li *ngFor="let lesson of selectedModule.lessons" class="lesson-item">
            <h5 class="lesson-title">{{ lesson.title }}</h5>
            <p class="lesson-content">{{ lesson.content }}</p>
            <div *ngIf="lesson.imageUrl" class="lesson-media">
              <img *ngIf="lesson.imageUrl.includes('.jpg') || lesson.imageUrl.includes('.jpeg') || lesson.imageUrl.includes('.png') || lesson.imageUrl.includes('.gif')"
                   [src]="lesson.imageUrl" alt="Lesson Image" class="lesson-image">
              <video *ngIf="lesson.imageUrl.includes('.mp4') || lesson.imageUrl.includes('.ogg') || lesson.imageUrl.includes('.webm')"
                     width="320" height="240" controls class="lesson-video">
                <source [src]="lesson.imageUrl" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <button (click)="deleteLesson(selectedModule.id, lesson.id)" class="btn btn-danger">Delete Lesson</button>
          </li>
        </ul>
      </div>
      <div class="create-lesson-container">
        <h4 class="create-lesson-title">Create Lesson</h4>
        <div class="create-lesson-form">
          <div class="form-group">
            <label for="lessonTitle" class="form-label">Enter lesson title</label>
            <input type="text" [(ngModel)]="newLessonTitle" id="lessonTitle" class="input">
          </div>
          <div class="form-group">
            <label for="lessonContent" class="form-label">Enter lesson content</label>
            <textarea [(ngModel)]="newLessonContent" id="lessonContent" class="textarea"></textarea>
          </div>
          <div class="form-group">
            <label for="fileInput" class="form-label">Choose file</label>
            <input type="file" (change)="onFileSelected($event)" id="fileInput" class="file-input">
          </div>
          <button (click)="createLesson(selectedModule.id)" class="btn btn-primary">Create Lesson</button>
        </div>
      </div>
    </div>
    <button (click)="closeModal()" class="btn btn-secondary">Close</button>
  </div>
</div>