<nav>
  <ul class="poppins flex items-center justify-center lg:gap-x-4 gap-x-6">
    <li>
      <a
        routerLink="/teacher/speechlab/paractice-parent"
        routerLinkActive="poppins-b bg-gradient-to-br from-primary to-secondary text-transparent bg-clip-text"
        class="text-lg lg:text-2xl text-black/25 sm:text-xl"
        >PRACTICE</a
      >
    </li>
    <li>
      <a
        routerLink="/teacher/speechlab/lab"
        routerLinkActive="poppins-b bg-gradient-to-br from-primary to-secondary text-transparent bg-clip-text"
        class="text-lg lg:text-2xl text-black/25 sm:text-xl"
        >LAB</a
      >
    </li>
    <!-- <li>
      <ac
        routerLink="/teacher/speechlab/modules"
        routerLinkActive="poppins-b bg-gradient-to-br from-primary to-secondary text-transparent bg-clip-text"
        class="text-lg lg:text-2xl text-black/25 sm:text-xl"
        >MODULE</ac
      >
    </li> -->
  </ul>
</nav>

<router-outlet></router-outlet>
