<nav>
    <ul class="poppins flex items-center justify-center lg:gap-x-4 gap-x-6">
      <li>
        <a
          routerLink="/admin/speechlab/Lab"
          routerLinkActive="poppins-b bg-gradient-to-br from-primary to-secondary text-transparent bg-clip-text"
          class="text-lg lg:text-2xl text-black/25 sm:text-xl"
          >LAB</a
        >
      </li>
      <li>
        <a
          routerLink="/admin/speechlab/Modules"
          routerLinkActive="poppins-b bg-gradient-to-br from-primary to-secondary text-transparent bg-clip-text"
          class="text-lg lg:text-2xl text-black/25 sm:text-xl"
          >Modules</a
        >
      </li>
      <li>
        <a
          routerLink="/admin/speechlab/drills"
          routerLinkActive="poppins-b bg-gradient-to-br from-primary to-secondary text-transparent bg-clip-text"
          class="text-lg lg:text-2xl text-black/25 sm:text-xl"
          >Drills</a
        >
      </li>
    </ul>
  </nav>
  
  <router-outlet></router-outlet>
  