.microphone {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
}





.box {
  position: relative;
  width: 150px; /* Adjust width as needed */
  height: 180px; /* Adjust height as needed */
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-right: 120px;
  margin-left: 120px; /* Adjust the right margin as needed */
}

.DL button{
  background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  color: white;
  padding: 5px;
  border-radius: 5px;
  float: right;
}
.DL button:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image {
  margin-left: -120px; /* Adjust the left margin as needed */
  margin-right: -120px;
}

.box .group {
  width: 150px; /* Adjust width as needed */
  height: 180px; /* Adjust height as needed */
  top: 0;
  left: 0;
}

.box .overlap-group {
  position: absolute;
  width: 150px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  top: 30px; /* Adjust top position as needed */
  left: 0;
  border-radius: 50%;
  border: 2px solid;
  border-color: #ffffff;
  box-shadow: 0px 0px 8px #00000040;
  background: linear-gradient(
    180deg,
    var(--secondary-color), var(--primary-color)
  );
}

.box .ellipse {
  position: absolute;
  width: 110px; /* Adjust width as needed */
  height: 110px; /* Adjust height as needed */
  top: 18.4px; /* Adjust top position as needed */
  left: 18.4px;
  background-color: #ffffff;
  border-radius: 50%;
}

.box .microphone {
  position: absolute;
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  top: 23.4px; /* Adjust top position as needed */
  left: 23.4px; /* Adjust left position as needed */
}

.box .text-wrapper {
  position: absolute;
  width: 121px; /* Adjust width as needed */
  top: 0;
  left: 15px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #5d5d5d;
  font-size: 18px; /* Adjust font size as needed */
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.box .overlap-group1 {
  position: absolute;
  width: 150px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  top: 30px; /* Adjust top position as needed */
  left: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 8px #00000040;
  background: white;
  border: double 2px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(180deg, var(--secondary-color), var(--primary-color));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-decoration-break: clone;
}

.box .headphone {
  position: absolute;
  width: 60px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
  top: 43.4px; /* Adjust top position as needed */
  left: 43.4px; /* Adjust left position as needed */
}

.box .ellipse1 {
  position: absolute;
  width: 110px; /* Adjust width as needed */
  height: 110px; /* Adjust height as needed */
  top: 18.4px; /* Adjust top position as needed */
  left: 18.4px;
  /* background: linear-gradient(180deg, rgb(3, 116, 175) 0%, rgb(109, 245, 188) 100%); */
  border-radius: 50%;
}

.mega {
  width: 50px; /* Adjust width as needed */
  height: 50px;
}

.image {
  width: 230px; /* Adjust width as needed */
  height: 230px; /* Adjust height as needed */
}

.image img {
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Make the image fill the container */
}

.box:hover {
  transform: scale(1.1);
}

.box.button.pulse .overlap-group {
  animation: pulseColor 1s infinite ease-in-out;
}

@keyframes pulseColor {
  0% {
    background: linear-gradient(
      180deg,
      var(--secondary-color), var(--primary-color)
    );
  }
  50% {
    background: linear-gradient(
      180deg,
      var(--secondary-color), var(--primary-color)
    );
  }
  100% {
    background: linear-gradient(
      180deg,
      var(--secondary-color), var(--primary-color)
    );
  }
}

.animate-wave1 {
  animation: wave 4s linear infinite;
}

#audio {
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (max-width: 1110px) {
  /* Adjust container padding */
  .container {
    padding: 10px;
  }

  .text-to-speech-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
  }

  #textToSpeak {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
.box{
  size: 80px;
  margin-left: 28%;
}
.recs{
  margin-left: -100px;
}

  .premium-vector{
    display: none;
  }

  .mega {
    width: 50px;
    height: 50px;
  }

  #audio,
  #canvas {
    width: 100%;
  }
  .gap-10 {
    gap: 10px;
  }
}
@media only screen and (max-width: 900px) {

    .woah {
      display: inline-block; 
      padding: 5%;
      margin-bottom: 100px;
      padding-left: 100px;
      padding-right: 100px;
    }


  .recs{
    margin-left: auto;
    margin-right: auto;
  }

  .image.button{
    display: none;
  }
  .listenbox{
    margin-top:8%;
  }
}

@media only screen and (max-width: 600px) {

  .woah {
    display: inline-block; 
    padding: 5%;
    margin-bottom: 100px;
  }



.recs{
  margin-left: auto;
  margin-right: auto;
}

.image.button{
  display: none;
}
.listenbox{
  margin-top:8%;
}
}

@media only screen and (max-width: 390px) {
  .text-to-speech-container{
    margin-left: -12px;
}
.mongo{
  margin-right: -50px;
}
.woah{
  padding-right: 50px;
}
}


.tooltip-button {
  position: relative;
  display: inline-block;
}

.tooltip-button::after, .tooltip-button::before {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-button::after {
  content: attr(data-tooltip);
  bottom: -45px; /* Adjust based on your button size and desired tooltip position, including space for the arrow */
  background-color: gray;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}

.tooltip-button::before {
  content: '';
  bottom: -30px; /* Position it right above the tooltip, adjust as necessary */
  border-style: solid;
  border-width: 5px 5px 0 5px; /* Adjust size of the arrow */
  border-color: black transparent transparent transparent; /* Arrow color */
}

.tooltip-button:hover::after, .tooltip-button:hover::before {
  opacity: 1;
  visibility: visible;
}
