<div class="mx-10">
  <div class="flex justify-center mb-4 relative">
    <button class="tooltip-button px-4 py-2 text-white gradient-color rounded transform transition duration-150 ease-in-out hover:scale-110 relative"
            (click)="toggleDropdown()" data-tooltip="Choose language">
      Language: {{selectedLanguageName}}
    </button>
    <div *ngIf="showDropdown" class="absolute left-1/2 transform -translate-x-1/2 mt-1 py-2 bg-white shadow-lg rounded z-10">
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" (click)="selectLanguage('en', 'English'); $event.preventDefault()">English</a>
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" (click)="selectLanguage('ja', 'Japanese'); $event.preventDefault()">Japanese</a>
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" (click)="selectLanguage('fr', 'French'); $event.preventDefault()">French</a>
    </div>
  </div>
  

  <div class="text-to-speech-container flex gap-x-4 w-full h-56">
    <div class="w-full h-full flex">
      <textarea
        maxlength="50"
        id="textToSpeak"
        rows="4"
        class="flex-1 p-2.5 text-sm text-gray-900 rounded focus:outline-none bg-transparent shadow-boxz"
        placeholder="Type something to listen... (maximum of 50 characters)"
        [(ngModel)]="textInput"
      ></textarea>
    </div>
    

    <!-- Mic -->
    <div class="flex items-center justify-center mongo "

    >
      <label
        for="thefile"
 
        class="w-20 h-20 flex items-center border-gradient shadow-boxz justify-center"
      >
        <button
          (click)="textToSpeech()"
        >
          <input
          id="thefile"

          style="display: none"
        />
        <!-- <img
          class="mega"
          src="assets/mega.png"
          alt="adwda"
        /> -->
        <svg class="mega" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000">
          <defs>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" stop-color="var(--primary-color)" />
              <stop offset="100%" stop-color="var(--secondary-color)" />
            </linearGradient>
          </defs>
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <g>
              <g>
                <g>
                  <path style="fill:url(#gradient);" d="M94.432,139.492H19.231C8.61,139.492,0,148.103,0,158.723v138.71 c0,10.62,8.61,19.231,19.231,19.231h75.201c9.733,0,17.756-7.238,19.033-16.621L231,335.009v-213.86l-117.535,34.965 C112.188,146.729,104.165,139.492,94.432,139.492z"></path>
                  <path style="fill:url(#gradient);" d="M349.482,78.436h-60.79c-10.621,0-19.231,8.61-19.231,19.231v260.822 c0,10.621,8.61,19.231,19.231,19.231h60.79c10.621,0,19.231-8.61,19.231-19.231V97.667 C368.713,87.046,360.103,78.436,349.482,78.436z"></path>
                  <path style="fill:url(#gradient);" d="M492.769,208.847h-75.828c-10.621,0-19.231,8.61-19.231,19.231 c0,10.621,8.61,19.231,19.231,19.231h75.828c10.62,0,19.231-8.61,19.231-19.231C512,217.458,503.391,208.847,492.769,208.847z"></path>
                  <path style="fill:url(#gradient);" d="M428.687,172.483l53.619-53.619c7.51-7.51,7.51-19.686,0-27.196c-7.509-7.51-19.686-7.51-27.196,0 l-53.619,53.619c-7.51,7.51-7.51,19.687,0,27.196C409,179.994,421.178,179.995,428.687,172.483z"></path>
                  <path style="fill:url(#gradient);" d="M428.687,283.673c-7.509-7.51-19.686-7.51-27.196,0s-7.51,19.686,0,27.196l53.619,53.619 c7.509,7.51,19.686,7.512,27.196,0c7.51-7.51,7.51-19.686,0-27.196L428.687,283.673z"></path>
                  <path style="fill:url(#gradient);" d="M127.82,414.333c0,10.621,8.61,19.231,19.231,19.231h57.459c10.621,0,19.231-8.61,19.231-19.231 v-41.356l-95.921-28.536V414.333z"></path>
                </g>
              </g>
            </g>
          </g>
        </svg>
        </button>
      </label>
    </div>

    <!-- Audio with Equalizer -->
    <div class="w-full min-w-80 shadow-boxz rounded relative">
      <div class="absolute top-0 right-0 m-4">
        <!-- Example SVG for a download icon; replace with your icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer download-icon" viewBox="0 0 24 24" fill="white" stroke="var(--secondary-color)" (click)="download()">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
        </svg>
               
      </div>
      <div class="absolute top-0 left-0 ml-2 mt-2 text-gray-500" >Visualize your voice!</div>
      <div class="pt-16 pr-4 pb-4 pl-4"> <!-- Adjust padding as needed -->
        <audio class="hidden" id="audio" controls></audio> 
        <canvas id="canvas" class="visualizer-canvas w-full h-40"></canvas>
      </div>
    </div>
    
  </div>

  <!--Record and Listen -->

  <div class="gap-x-4 w-full">
    <div

      class="mt-10 w-full flex shadow-boxz rounded items-center justify-between gap-10 woah"
      style="background-color: #e1f3fd"
    >
      <!-- Content 1 -->
      <div
        class="box button"
        (click)="startRecording()"
        [class.pulse]="recording"
      >
        <div class="group">
          <div class="overlap-group recs">
            <div class="ellipse"></div>
            <!-- <img class="microphone" src="assets/record.png" /> -->
            <svg class="microphone" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <linearGradient id="gradient1" x1="0%" y1="0%" x2="100%" y2="0%">
                  <stop offset="0%" stop-color="var(--secondary-color)" />
                  <stop offset="100%" stop-color="var(--secondary-color)" />
                </linearGradient>
              </defs>
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path d="M12.0016 21.9292C6.96156 21.9292 2.85156 17.8292 2.85156 12.7792V10.8992C2.85156 10.5092 3.17156 10.1992 3.55156 10.1992C3.93156 10.1992 4.25156 10.5192 4.25156 10.8992V12.7792C4.25156 17.0492 7.72156 20.5192 11.9916 20.5192C16.2616 20.5192 19.7316 17.0492 19.7316 12.7792V10.8992C19.7316 10.5092 20.0516 10.1992 20.4316 10.1992C20.8116 10.1992 21.1316 10.5192 21.1316 10.8992V12.7792C21.1516 17.8292 17.0416 21.9292 12.0016 21.9292Z" fill="url(#gradient1)"></path>
                <path d="M11.9984 2C8.63844 2 5.89844 4.74 5.89844 8.1V12.79C5.89844 16.15 8.63844 18.89 11.9984 18.89C15.3584 18.89 18.0984 16.15 18.0984 12.79V8.1C18.0984 4.74 15.3584 2 11.9984 2ZM14.1784 10.59C14.1084 10.86 13.8584 11.04 13.5884 11.04C13.5384 11.04 13.4784 11.03 13.4284 11.02C12.4084 10.74 11.3284 10.74 10.3084 11.02C9.97844 11.11 9.64844 10.92 9.55844 10.59C9.46844 10.27 9.65844 9.93 9.98844 9.84C11.2184 9.5 12.5184 9.5 13.7484 9.84C14.0784 9.93 14.2684 10.26 14.1784 10.59ZM15.0284 7.82C14.9384 8.07 14.7084 8.22 14.4584 8.22C14.3884 8.22 14.3184 8.21 14.2484 8.18C12.7184 7.62 11.0384 7.62 9.50844 8.18C9.18844 8.3 8.83844 8.14 8.71844 7.82C8.60844 7.51 8.76844 7.16 9.08844 7.04C10.8884 6.39 12.8684 6.39 14.6584 7.04C14.9784 7.16 15.1384 7.51 15.0284 7.82Z" fill="url(#gradient1)"></path>
              </g>
            </svg>            
            
            

            
            

          </div>
          <div class="text-wrapper text-sm recs">Record Audio</div>
        </div>
      </div>

      <!-- Content 2 -->
      <div class="image button">
        <img class="premium-vector hidden custom1130:inline-block" src="assets/tahaw.png" alt="" />
      </div>

      <!-- Content 3 -->
      <div class="box button listenbox" (click)="playAudio()" [class.pulse]="playing">
        <div class="group">
          <div class="overlap-group1">
            <div
              class="ellipse1 gradient-color"
              [ngClass]="{ 'animate-wave1': playing }"
            ></div>
            <img class="headphone" src="assets/head.png" />
          </div>
          <div class="text-wrapper text-center text-sm">Listen</div>
        </div>
      </div>

      
    </div>
  </div>
</div>
