.custom-modal-content {
  border-radius: 10px;
  height: auto; /* Adjusted to auto for dynamic height based on content */
  max-height: 800px; /* Set the maximum desired height */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */

  display: flex;
  flex-direction: column; /* Align children vertically */
  align-items: center;
  text-align: center;
  padding: 25px;
}

.inputwrap input[type="text"],
.inputwrap select {
  width: 100%; /* Adjusted to fill the container width */
  max-width: 390px; /* Set the maximum desired width */
  height: 45px;
  /* background-color: #e1f3fd; */
  border-radius: 18px;
  border: 1px solid #00000040;
  padding: 0 5px; /* Adjusted for horizontal padding */
  margin-bottom: 10px; /* Added margin bottom for spacing */
}

.btnwrap .save,
.btnwrap .cancel {
  height: 35px;
  width: 100px; /* Adjusted to wider width */
  border-radius: 12px;
  color: white;
  cursor: pointer; /* Add cursor pointer on hover */
}

.btnwrap .save {
  background: linear-gradient(to right, rgb(1, 114, 175) 0%, rgb(116, 254, 189) 100%);
}

.btnwrap .cancel {
  background: #ff5f5f; /* Changed to a lighter red */
  margin-left: 20px; /* Adjusted margin for spacing */
}

.btnwrap {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Center align the buttons */
}
