<div class="modal-content custom-modal-content">
  <form #classForm="ngForm">
    <div class="inputwrap mt-2">
      <div class="form-group">
        <label for="className">Class Name:</label>
        <input
          [(ngModel)]="className"
          [ngModelOptions]="{ standalone: true }"
          name="className"
          #nameCtrl="ngModel"
          type="text"
          id="className"
          placeholder="Enter class name"
          [ngClass]="{ 'invalid-input': nameCtrl.invalid && nameCtrl.touched }"
          required
        />
        <div class="error-message" *ngIf="nameCtrl.invalid && nameCtrl.touched">
          Field is required
        </div>
      </div>

      <div class="form-group">
        <label for="classCode">Class Code:</label>
        <input
          [(ngModel)]="classCode"
          [ngModelOptions]="{ standalone: true }"
          name="classCode"
          #codeCtrl="ngModel"
          type="text"
          id="classCode"
          placeholder="Enter class code"
          [ngClass]="{ 'invalid-input': codeCtrl.invalid && codeCtrl.touched }"
          required
        />
        <div class="error-message" *ngIf="codeCtrl.invalid && codeCtrl.touched">
          Field is required
        </div>
      </div>

      <div class="form-group">
        <label for="course">Course:</label>
        <select
          #courseCtrl="ngModel"
          [(ngModel)]="course"
          [ngModelOptions]="{ standalone: true }"
          name="course"
          id="course"
          [ngClass]="{
            'invalid-input': course == '' && courseCtrl.touched,
            'text-gray-400': course == ''
          }"
        >
          <option value="" disabled selected hidden>Select Course</option>
          <option [value]="course.value.id" *ngFor="let course of courses | keyvalue">
            {{ course.value.course }}
          </option>
        </select>
        <div class="error-message" *ngIf="course == '' && courseCtrl.touched">
          Field is required
        </div>
      </div>

      <div class="form-group">
        <label>Time Schedule:</label>
        <div *ngFor="let schedule of timeSchedules; let i = index" class="time-schedule">
          <div class="time-input">
            <select [(ngModel)]="startHours[i]" name="startHour{{i}}" (change)="updateTimeSchedule(i)">
              <option value="" disabled selected>HH</option>
              <option *ngFor="let h of hours" [value]="h">{{ h }}</option>
            </select>
            <span class="time-separator">:</span>
            <select [(ngModel)]="startMinutes[i]" name="startMinute{{i}}" (change)="updateTimeSchedule(i)">
              <option value="" disabled selected>MM</option>
              <option *ngFor="let m of minutes" [value]="m">{{ m }}</option>
            </select>
            <select [(ngModel)]="startPeriods[i]" name="startPeriod{{i}}" (change)="updateTimeSchedule(i)">
              <option value="" disabled selected>AM/PM</option>
              <option value="AM">AM</option>
              <option value="PM">PM</option>
            </select>
          </div>
          <span class="time-range-separator">-</span>
          <div class="time-input">
            <select [(ngModel)]="endHours[i]" name="endHour{{i}}" (change)="updateTimeSchedule(i)">
              <option value="" disabled selected>HH</option>
              <option *ngFor="let h of hours" [value]="h">{{ h }}</option>
            </select>
            <span class="time-separator">:</span>
            <select [(ngModel)]="endMinutes[i]" name="endMinute{{i}}" (change)="updateTimeSchedule(i)">
              <option value="" disabled selected>MM</option>
              <option *ngFor="let m of minutes" [value]="m">{{ m }}</option>
            </select>
            <select [(ngModel)]="endPeriods[i]" name="endPeriod{{i}}" (change)="updateTimeSchedule(i)">
              <option value="" disabled selected>AM/PM</option>
              <option value="AM">AM</option>
              <option value="PM">PM</option>
            </select>
          </div>
          <button class="remove-button" (click)="removeTimeSchedule(i)">Remove</button>
        </div>
        <button class="add-button" (click)="addTimeSchedule()">Add Time Schedule</button>
        <div class="error-message" *ngIf="(startHours[0] === '' || startMinutes[0] === '' || startPeriods[0] === '' || endHours[0] === '' || endMinutes[0] === '' || endPeriods[0] === '')">
          Fields are required
        </div>
      </div>

      <div class="form-group">
        <label>Day Schedule:</label>
        <div class="day-schedule">
          <label *ngFor="let day of weekDays" class="checkbox-label">
            <input
              type="checkbox"
              [(ngModel)]="day.checked"
              [checked]="day.checked"
              [ngModelOptions]="{ standalone: true }"
              (change)="updateDaySchedule(day.name, $event)"
            />
            {{ day.name }}
          </label>
        </div>
        <div class="error-message" *ngIf="showDayScheduleError">
          At least one day must be selected
        </div>
      </div>

      <div class="button-group">
        <button class="hover:scale-105 hover:ease-out duration-300 save-button" (click)="classForm.form.markAllAsTouched(); manageClass()">
          Save
        </button>
        <button class="cancel-button" (click)="closeModal(null)">Cancel</button>
      </div>
    </div>
  </form>
</div>