<div class='mx-auto lg:max-w-[826px] h-[505px]  relative flex justify-center items-center'>
    <div class='absolute md:w-[96.2%] w-full h-4 md:h-6 bg-gradient-to-r from-primary to-secondary z-20 rounded-tr-xl rounded-tl-xl top-0 shadow-md shadow-black/25'></div>
    <div class='absolute bottom-0 z-10 md:w-6 w-3 h-[96.2%] top-3 bg-gradient-to-b from-primary to-secondary lg:left-4 md:left-4 left-0'></div>
      <button (click)="toggleValue()" class='lg:text-25px font-semibold text-primary leading-7 w-[43.9%] rounded-[30px]  text-sm lg:h-16 h-12 sm:text-lg shadow-md shadow-black/25 '>JOIN MEETING</button>
      <div class='absolute z-50 border border-black inset-y-4 inset-x-3 md:inset-y-6 md:inset-x-10'>
        <div>content here student</div>
      </div>
    <div class='absolute top-3 bg-gradient-to-b from-primary to-secondary bottom-0 right-0 md:right-4 md:w-6 w-3 h-[96.2%] z-10'></div>
    <div class='absolute bottom-0 z-20 w-full h-4 shadow-md lg:h-6 lg:inset-x-0 bg-gradient-to-r from-primary to-secondary rounded-br-xl rounded-bl-xl shadow-black/25'></div>
</div>