<!-- This is for the dropdown -->
<div class="mb-4 md:mb-0 md:inline-block md:mr-10 px-10">
  <select name="language" id="language" class="text-black text-xl md:text-2xl shadow-boxz px-2 w-full md:w-36 py-2 md:py-4 font-sans rounded-xl">
      <option value="ALL" class="text-black font-sans text-xl md:text-2xl">ALL</option>
      <option value="Japanese" class="text-black font-sans text-xl md:text-2xl">Japanese</option>
      <option value="English" class="text-black font-sans text-xl md:text-2xl">English</option>
      <option value="French" class="text-black font-sans text-xl md:text-2xl">French</option>
  </select>
</div>



<div class="shadow-boxz my-14 mx-10 rounded-xl ">
  <div class="mx-10 grid gap-8 grid-cols-2 h-1/2 py-10 grid-rows-2">
    
    <a href="student/courses" class="inline-block">
      <button class="primary-color w-full h-60 rounded-xl transition duration-300 hover:bg-cyan-400 hover:scale-105">
        <div class="text-center">
          <p class="text-white font-medium text-2xl">Proficiency Quiz</p>
        </div>
      </button> 
    </a>

    <a href="student/courses" class="inline-block">
      <button class="primary-color w-full h-60 rounded-xl transition duration-300  hover:bg-cyan-400 hover:scale-105">
        <div class="text-center">
          <p class="text-white font-medium text-2xl">Comprehension Type</p>
        </div>
      </button>
    </a>

    <a href="student/courses" class="inline-block">
      <button class="primary-color w-full h-60 rounded-xl transition duration-300  hover:bg-cyan-400 hover:scale-105">
        <div class="text-center">
          <p class="text-white font-medium text-2xl">Assessment 1</p>
        </div>
      </button>
    </a>

    <a href="student/courses" class="inline-block">
      <button class="primary-color w-full h-60 rounded-xl transition duration-300  hover:bg-cyan-400 hover:scale-105">
        <div class="text-center">
          <p class="text-white font-medium text-2xl">Proficiency Quiz 2</p>
        </div>
      </button>
    </a>  

  </div>
</div>

